{% extends "layouts/hierapolis/layout.html.twig" %}
{% block breadcrumb %}
<ul class='breadcrumb' id='breadcrumb'>
  <li class='title'>Produtos</li>
  <li class='active'><a href="#">novos</a></li>
</ul>
{% endblock %}
{% block novo_produto %} active {% endblock %}
{% block page_icon %}plus{% endblock %}
{% block page_title %}Novos produtos{% endblock %}