{% extends "layouts/hierapolis/layout.html.twig" %}
{% block breadcrumb %}
<ul class='breadcrumb' id='breadcrumb'>
  <li class='title'>Produtos</li>
  <li class='active'><a href="#">lista</a></li>
</ul>
{% endblock %}
{% block lista_produto %} active {% endblock %}
{% block page_icon %}list-alt{% endblock %}
{% block page_title %}Produtos{% endblock %}




{#{% block css %}
<link rel="stylesheet" type="text/css" href="/widgets/DataTables/datatables.min.css"/>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/widgets/DataTables/datatables.min.js"></script>
{% endblock %}

{% block body %}
<div class="page-header">
    <h3>Lista de produtos</h3>
</div>
{% set titulo = [ 'Produto', '#Unidades', 'R$ compra', 'R$ compra unidade', 'R$ saída' ] %}
{{ include ('partials/tabela.html.twig', { titulo: titulo, conteudo: [] }, with_context = false, ignore_missing = true) }}
{% endblock %}

{% block javascript %}
{% endblock %}#}